<div class="container">

  <div class="col-xs-12 customer-part">
    <button class="btn btn-primary" ng-click="vm.searchRides('pink')">Search Pink Rides</button>
    <button class="btn btn-primary"  ng-click="vm.searchRides('normal')">Search Normal Rides</button>

    <div ng-if="vm.pinkRidesFound">
      <div class="col-xs-12 col-sm-6 col-sm-4" ng-repeat="data in vm.pinkRides">
        <div class="col-xs-12 ride-suggestion">
          <span>Name : {{data.Name}}</span>
          <span>Latitude : {{data.lat}}</span>
          <span>Longitude : {{data.lng}}</span>
          <span>Car Type :  {{data.carType}}</span>
        </div>
      </div>
    </div>

    
    <div ng-if="vm.normalRidesFound">
      <div class="col-xs-12 col-sm-6 col-sm-4" ng-repeat="data in vm.normalRides">
        <div class="col-xs-12 ride-suggestion">
          <span>Name : {{data.name}}</span>
          <span>Latitude : {{data.lat}}</span>
          <span>Longitude : {{data.lng}}</span>
          <span>Car Type :  {{data.carType}}</span>
        </div>
      </div>
    </div>

  </div>

</div>